.header, .footer {
    padding : 10px;
    background-color: lightgray;
}

h1, h4 {
    color: teal;
    padding-top: 1rem;
}

.reverse {
    background-color: teal;
    text-align: center;
   color: white; 
   padding: 3px; 
   border-radius: 10%; 
   font-size: 2em;
}

a {
    text-decoration: none;
}

.main {
    background-color: lightgray;
}

.page {
    background-color: white;
}

// Mixin itself
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Usage as a mixin
.element {
  .clearfix();
}